@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "Movie List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Genre</th>
            <th>Release Datum</th>
            <th>Prijs</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Title</td>
            <td>@item.Genre</td>
            <td>@item.ReleaseDate.ToShortDateString()</td>
            <td>@item.Price.ToString("C")</td>
        </tr>
}
    </tbody>
</table>
